/*app*/
header {
  height: 200px;
  width: 100%;
  background-image: url("bolsa-de-valores.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer{
  clear: both;
  font-size: 0.75em;
}
footer a{
  text-decoration: none;
}
.table{
  padding-top: 30px;
}
/*infoTable*/
.infoTable{
  width: 100%;
  border-width: 1px ;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
td, th{
  width: 12.5%;
  text-align: left;
  border-width: 1px ;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
}
td{
  padding: 5px;
}
td:last-child{
  text-align: center;
  cursor: pointer;
}
td:last-child:hover{
  opacity: 0.5;
}
tr:hover{
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
tr:first-child{
  background-color: rgba(47, 28, 122, 0.616);
}
tr:nth-child(even){
  background-color: rgba(159, 136, 241, 0.568);
}
/*infoCard*/
.icard{
  width: 300px;
  float: left;
  margin: 0 8px 8px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 4px;
}
img{
  margin: 0 25%;
}
h1{
  font-size: 32px;
  line-height: 150%;
}
p{
  font-size: 16px;
  line-height: 150%;
}
.closeB, .shareB, .expandB{
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 40%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}
.closeB{
  background-image: url("times-solid.svg");
  float: right;
}
.shareB{
  background-image: url("dollar-sign-solid.svg");
  float: left;
}
.expandB{
  background-image: url("caret-down-solid.svg");
  float: right;
}
.rotate{
  transform: rotate(180deg);
}
.expInfo{
  clear: both;
}
.closeB:hover, .expandB:hover, .shareB:hover{
  opacity: 1;
  box-shadow: 0px 0px 16px 0 rgba(0,0,0,0.2);
}
.icard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*searchField*/
.searchF{
  width: 50%;
  position: absolute;
  margin: 150px 23%;
}
.search{
  height: 20px;
  width: 100%;
  border-radius: 5px;
  background-image: url("search-solid.svg");
  background-repeat: no-repeat;
  padding-left: 25px;
  border: none;
  outline: none;
}

/*NavBar*/
.navButtons{
  width: 50%;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 5px 0 0 0;
  background-color:rgba(75, 8, 230, 0.733);
  text-align: center;
  font-weight: bold;
}
.navButtons:hover {
  cursor: pointer;
  opacity: 0.8;
}